
/* starts hub page css */

.cardWr{
  text-decoration: none;
}
.bannerTopHeading{
    width: 90%;
}
.mainTiles .card .textCard{
	position: absolute;
    top: 18%;
	left: 42%;
}
.textCard p{
  margin-bottom: 5px;
  color:#E5E5E5;
  font-size: 1rem;
  text-decoration: none;
}
.mainTiles .textCard h4{
	 background: linear-gradient(90deg, #fff 0%, #fff 100%) 0% 0%;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  color: #D0D0D0;
}
.cardBottomWr .mainTiles .textCard p{
	color: #8d8d8d;
}
.bannerTopHeading h2{
    background: linear-gradient(90deg, #DE8601 0%, #FF3D97 100%) 0% 0%;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bannerTopHeading p{
    color: #E5E5E5;
}
.mainTiles{
	width:49%;
}
.mainTiles .card{
	width:100%;
}
#WebPartWPQ5 > div.ms-rtestate-field > div.cardBottomWr > div:nth-child(2) > div,
#WebPartWPQ5 > div.ms-rtestate-field > div.cardBottomWr > div:nth-child(4) > div{
	margin-left:1rem;
}

.mainTiles:nth-child(5) .card{
	margin-bottom: 0 !important;
}

.sidebar{
	height: auto;
}

.hubheading{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 1.1rem;
    margin-bottom: 2.7rem;
}
.cardBottomWr{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    /* border: 1px solid red; */
}
.cardsRight{
    width: 50%;
    /* border: 1px solid red; */
}
.image{
	    position: absolute;
    top: 0;
    right: 10%;
    width: 21%;
    height: 100%;
    display:flex;
}
.image img{
	width:100%;
}
.cardsRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* border: 1px solid red; */
}
.textCard h4{
	font-size: 2rem !important;
	font-weight: 700;
	background: -webkit-linear-gradient(-90deg, #DE8601, #FF3D97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head-left{
    padding-left: 4%;
}
.head-data{
    margin: 0 auto;
}
.card{
    background: #000000;
    margin: 1rem 0;
    height: auto;
    width: 100%;
    border-radius: 1rem;
    padding: 5%;
	}
.cardleft img{
    width: 100%;
    height: 100%;
}
.cardsRight .cardWr{
  width: 96%;
  height: 24vh;
  border-radius: 1.5rem;
  margin-bottom: 1.3rem;
  background-color: #000;
  display: flex;
}
.cardsRight .cardWr{
    width: 96%;
    height: 24vh;
    border-radius: 1.5rem;
    margin-bottom: 1.3rem;
    background-color: #000;
    display: flex;
}
.contentWr{
  margin: 0 40px;
}
a{
  text-decoration: none;
}
.cardsRight .cardWr:nth-child(1) .card{
    background-image: url('../../Images/life.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-color: #000;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsRight .cardWr:nth-child(2) .card{
    background-image: url('../../Images/wellbieng.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-color: #000;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsRight .cardWr:nth-child(3) .card{
    background-image: url('../../Images/connectcommunity.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-color: #000;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsRight .cardWr:nth-child(1) .card{
    background-image: url('../../Images/life.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-color: #000;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsRight .cardWr:nth-child(2) .card{
    background-image: url('../../Images/wowprice.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-color: #000;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsRight .cardWr .card .textCard,
.cardsRight .cardWr .card .textCard{
    margin-left: 10rem;
    color: #E5E5E5;
}
.cardsRight .cardWr .card .textCard h4,
.cardsRight .cardWr .card .textCard h4{
    font-weight: bold;
    margin-bottom: 0.9rem;
}
.cardsRight .cardWr .card .textCard p{
    font-size: 1.1rem;
}
.cardsRight .cardWr .card .textCard .details,
.cardsRight .cardWr .card .textCard .details{
    color: #F94D78;
}
.cardsRight .cardWr:nth-child(1) .card .textCard{
    margin-left: 10rem;
}
.cardsRight .cardWr:nth-child(2) .card .textCard{
    margin-left: 12rem;
}
.cardsRight .cardWr:nth-child(3) .card .textCard{
    margin-left: 12.3rem;
}
.cardsRight .cardWr:nth-child(1) .card .textCard{
    margin-left: 5rem;
}
.cardsRight .cardWr:nth-child(2) .card .textCard{
    margin-left: 12rem;
}

/* starts Contact css */
.content .cntHeading{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 1.1rem;
    margin-bottom: 2.7rem;
}
.content .contactWr{
    width: 100%;
    height: 130vh; 
    background-color: #000;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
}
.content .contactWr .mainContact{
    width: 80%;    
    height: 67vh;
    display: flex;
    margin-top: 3.5rem;
    /* border: 1px solid red; */
}
.content .contactWr .mainContact .contactFormWr{
    width: 70%;    
    /* border: 1px solid red; */
}
.content .contactWr .mainContact .contactFormWr .contactForm{
    width: 95%;
    height: 100%;
    border-radius: 1.5rem;
    background-color: #232323;
    border: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.content .contactWr .mainContact .connectOptions{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.content .contactWr .mainContact .connectOptions .connectTeams{
    width: 96%;
    height: 42%;
    border-radius: 1.5rem;
    background-color: #232323;
    border: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}
.content .contactWr .mainContact .connectOptions .connectEmail{
    width: 96%;
    height: 42%;
    border-radius: 1.5rem;
    background-color: #232323;
    border: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}
.content .contactWr .mainContact .connectOptions .or{
    width: 96%;
    color: #fff;
    display: flex;
    justify-content: end;
}
.content .contactWr .mainContact .connectOptions .connectTeams a,
.content .contactWr .mainContact .connectOptions .connectEmail a{
    width: 20%;
    height: 23%;
    border-radius: 50%;
    background: linear-gradient(83deg, #DE8601 0%, #FF3D97 100%) 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid red;
}
.content .contactWr .mainContact .connectOptions .connectTeams a img,
.content .contactWr .mainContact .connectOptions .connectEmail a img{
    width: 65%;
}
.content .contactWr .mainContact .connectOptions .connectTeams p,
.content .contactWr .mainContact .connectOptions .connectEmail p{
    color: #fff;
    font-size: 1.2rem;
}
.reachText{
    text-align: center;
}
/* starts Form */
#contactForm input {
    border: 1px solid #B8B8B8;
    width: 30rem;
    height: 4rem;
    border-radius: 5rem;
    background-color: transparent;
}

#contactForm .textarea {
    width: 30rem;
    height: 25vh;
    border-radius: 1rem;
    background-color: transparent;
}

#contactForm label .name,
#contactForm label .email-label {
    color: #ffF;
    font-family: var(--futura-book);
    font-size: 1.3rem;
    background-color: #232323;
    width: 2.813rem;
    height: 0.75rem;
}

#contactForm .message-label {
    color: #ffF;
    font-family: var(--futura-book);
    font-size: 1.2rem;
    background-color: #232323;
    width: 2.813rem;
    height: 0.75px;
    top: -12px;
    left: 25px;
}

#contactForm .label_name {
    top: 0.5rem;
    left: 26px;
}

#contactForm .label_email {
    top: 0.5rem;
    left: 25px;
}

#contactForm .label_message {
    top: -0.9rem;
    left: 24px;
}

#contactForm span {
    color: #FF7E4F;
}

.submit-button {
    background: linear-gradient(90deg, #DE8601 0%, #FF3D97 100%) 0% 0%;
    border-radius: 0.313rem;
    color: #E5E8E9;
}
#email{
    border: 1px solid #B8B8B8;
    width: 30rem;
    height: 4rem;
    border-radius: 5rem;
    background-color: transparent;
    color: #fff;
}
/* ends form */
/* ends Contact css */

.Header > h4:nth-child(1){
	font-size: large;
	font-weight:700;
}

/*Mobile responsive query start*/
 @media (min-width:375px) and (max-width:767px){
 
 
 .ms-fullWidth {
    width: 100% !important;
}
 
   .mainTiles {
  width: auto;
}
.mainTiles .card {
  width: auto;
  margin-bottom: 1rem;
}
 .mainTiles .card .textCard {
	    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 9vh;
        }
.cardHeadWr .textCard{
	text-align: center;
    margin: 0 auto;
    width: 80%;
}
 .cardBottomWr {
   display: block;
   height: auto !important;
  }  
#WebPartWPQ5 > div.ms-rtestate-field > div.cardBottomWr > div:nth-child(2) > div, 
#WebPartWPQ5 > div.ms-rtestate-field > div.cardBottomWr > div:nth-child(4) > div
{
  margin-left: 0;
}
.cardPoster1{
	height: 12rem !important;
}
.subCardText1{
	text-align:left;
}
.subCardText1 h4 {
  font-size: 1.3rem !important;
  }
  .footer {
  margin: 0;
   width: 92% !important;
   margin-left: -5px;
}
.footer .footerWr .footerEngPortal .square {
  width: 4rem;
  height: 4rem;
  }
  .footer .footerWr .footerEngPortal {
    align-items: normal;
  }
   .footer .footerWr .footerEngPortal a h3 {
   font-size: 1.5rem;
  margin-top: 0rem;
}
.footerWr {
    height: 3vh;
  }
  footer {
  height: 12vh !important;
 
  }
  .amdocsCopyright{
	margin-top: 3rem;
	font-size: 14px;
}

}

@media (min-width: 390px){
	.cardBottomWr .mainTiles .textCard p{
	width:91%;
}
}

@media (min-width:768px) and (max-width:1024px){
.cardHeadWr .cardPoster{
	display: flex;
    justify-content: center;
    height: 22vh;
}

.cardBottomWr .mainTiles .textCard p {
    	width: 100%;
	}
.d-md-flex {
  display: none!important; 
}
.mainTiles .card{	
	height: 15rem !important;
}
.mainTiles .card .textCard {
    left: 46%;
    margin-left: 5%;
}
.sidemain{
	margin-left:0;
	margin-right:20px;
}

#DeltaPlaceHolderMain {
    width: 100%;
}

.cardBottomWr {
	height: auto;
}

.subCardText1 h4 {
  font-size: 1.3rem !important;
  }

.mainContent {
  flex-direction: column;
}
.contentWr {
  width: 92%;
 min-height:0 !important;
 margin: 0 30px;
  }
.footer .footerWr .footerEngPortal .square {
  width: 4rem;
  height: 4rem;
  }
  .footer .footerWr .footerEngPortal {
    align-items: normal;
  }
  .footer .footerWr .footerEngPortal a h3 {
   font-size: 1.5rem;
  margin-top: 0rem;
}
.footerWr {
    height: auto;
  }
  footer {
  height: auto;
  margin-left: 30px !important;
  width: 93vw !important;
 }
 .amdocsCopyright{
		font-size: 14px;
}

}

@media (min-width: 992px){
	.mainTiles .card .textCard {
    position: absolute;
    top: 28%;
    left: 42%;
    height: 11vh;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}
.cardHeadWr .cardPoster{
	height: 32vh;
	display: flex;
    justify-content: center;
}
}

@media (min-width: 1024px){
	.subCardText1 h4 {
    font-size: 1.3rem !important;
}
.cardBottomWr .mainTiles .textCard p {
    width: 100%;
}
.mainTiles .card .textCard {
    left: 46%;
}
.mainTiles .card{
	height: 14rem !important;
}
.cardHeadWr .card{
	padding: 5rem 0 !important;
}
.cardHeadWr .card .textCard {
	width: 80%;
    margin-left: 5%;
}
}

@media (min-width: 1200px){
	.mainTiles .card .textCard {
    top: 25%;
    height: 10vh;
    }
}

@media (min-width: 1536px){
	.mainTiles .card .textCard {
    left: 38%;
    height: 7vh;
}
}

@media (min-width: 1900px){
	.cardHeadWr .cardPoster{
		height: 28vh;	
	}
	.mainTiles .card .textCard {
    	left: 30%;
	}
	.contentWr {
    	height: auto;
	}
}



