    
    
    *{
	
	 font-family: 'Montserrat', sans-serif;
}
    
    .ms-cui-topBar1, .ms-cui-topBar2, #s4-ribbonrow{
	display:none !important;
}

    
    body{
   
         /* background: #393939; */
         background-image: url("https://amdocs.sharepoint.com/sites/EP/SiteAssets/ENG-Admin/Images/page_background.svg") !important;
         background-size: cover;
         color: white;
         /*padding: 20px;*/
    }
    .wrapper {
      display: flex;
      min-height: 100%;
    }
    
    
    
    
    /* Sidebar Start */
    .sidebar {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
       /* min-height: 131vh;*/
        width: 262px;
      background: black;
      margin-left: 3%;
      /*height: 50rem;*/
      overflow: hidden;
      background-size: cover;
      z-index: 100;
      transition: all 0.5s ease;
      border-radius: 20px;
    }
    .imagenone .card{
      border-radius: 25px;
      background-color: transparent !important;
        }
    .imagenone .card img{
      
      width: 180px;
      margin-top: 26px;
      margin-bottom: 15px;
  
    }
    .card-text{
      color: #FF13B8;
    }
    .bottomBTN{
      background-color: #232323;
      margin-top: 16px;
      border-radius: 20px;
      text-align: center;
      color: #fff;
      padding: 10px;
      width: 110px;
    }
    .bottomBTN h3{
      font-size: 22px;
      background: -webkit-linear-gradient(#DE8601 , #FF3D97 );
      -webkit-background-clip: text;
      opacity: 0.8;
      -webkit-text-fill-color: transparent;
    }
    .bottomBTN span{
      font-size: 10px;
    }
    
    .lineRow{
      width: 80%;
      height: 2px;
      margin-left: 23px;
      opacity: 0.7;
      margin-bottom: 10px;
    }
    .card-body p{
      font-size: 12px;
    }
    .sidebar.close {
      width: 78px;
    }
    .sidebar .logo-details i {
      font-size: 30px;
      color: #fff;
      height: 50px;
      min-width: 78px;
      text-align: center;
      line-height: 50px;
    }
  
    .sidebar .logo-details .logo_name {
      font-size: 22px;
      color: #fff;
      font-weight: 600;
      transition: 0.3s ease;
      transition-delay: 0.1s;
    }
    .sidebar .nav-links {
      padding: 0px 10px 0px 10px;
      overflow: hidden;
      margin-bottom: 5px;
    }
    .sidebar .nav-links li {
      position: relative;
      list-style: none;
      background-color: #232323;
      margin-top: 8px;
      border-radius: 10px;
      
      width: 219px;
      height: 38px;
      padding: 3px 0px !important;
      cursor: pointer;
      transition: all .3s ease-in-out;
    }
    .colorClass{
      background-color: transparent !important;
  
    }
    
    .sidebar .nav-links li:hover {
      background: transparent linear-gradient(89deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box;
      transition: all .3s ease-in-out;
      color: #fff;
    }
    
    .sidebar .nav-links li.active {
      background: transparent linear-gradient(89deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box;
      transition: all .3s ease-in-out;
      color: #fff;
    }
    .sidebar .nav-links li:hover i,.sidebar .nav-links li:hover img, .sidebar .nav-links li.active i, .sidebar .nav-links li.active img{
      background: #B15610 0% 0% no-repeat padding-box;
    }
    .sidebar .nav-links li img {
         text-align: center;
    /* line-height: 36px; */
    padding: 8px;
    /* height: 2.5%; */
    width: 14.5%;
    margin-top: 0px !important;
    margin: 10px;
    font-size: 12px;
    /* margin-left: 10px; */
    cursor: pointer;
    background-color: #191718;
    border-radius: 9px;
        }
    .sidebar .nav-links li i {
      height: 33px;
      min-width: 34px;
      text-align: center;
      /* line-height: 40px; */
      padding: 10px;
      color: #fff;
      font-size: 14px;
      margin-left: 10px !important;
      cursor: pointer;
      background-color: #191718;
      border-radius: 14px;
      margin-right: 5px;
      margin-top: 0px !important;
    }
    .dot-img{
    background: none !important;
    position: absolute;
    left: 8px;
    top: -1px;
    width: 25px !important;
    height: 25px !important;
        }
    .nav-links a{
      text-decoration: none;
      color: #cecece;
      font-weight:500;
      font-size: 11px;
    }
    .sidebar.close .nav-links i.arrow {
      display: none;
    }
  
    .sidebar .nav-links li a {
      text-decoration: none;
    }
  
    .sidebar .nav-links li a .link_name {
      font-size: 11px !important;
      font-weight: 500 !important;
      color: #fff !important;
    }
    .sidebar .nav-links li.showMenu .sub-menu {
      display: block;
    }
    .lineRow img{
      width: 75% !important;
      height: 2px !important;
  
    }
    .lineRow{
      text-align: center;
      margin-bottom: 20px;
    }
    
  .calRight {
    margin: 11px;
    margin-right: 4px;
    margin-left: 6px;
  }
  .calRight .smileyWr {
    width: 91%;  
    margin: 0 auto;
    border-radius: 1rem;
    background: #232323;
    /* border: 1px solid red; */
  }
  .smiley {
    width: 83%;
    margin: 0 auto;
    padding: 1rem 0;
    margin-bottom: 1.2rem;
  }
  .smileyText p{
    font-size: 11px;
    color: #fff;
  }
  .smiley .smileyText ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: -7px;
  }
  
  .smiley .smileyText ul li {
    width: 2.5rem;
    list-style: none;
  }
  
  .smiley .smileyText ul li a,
  .smiley .smileyText ul li a img {
    width: 18.26px;
    height: 22px;
    text-decoration: none;
  }
  
  .smiley .smileyText ul li a small{
    font-size: 11px;
    font-weight: 600;
  }
  .smiley .smileyText ul li a {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    line-height: 2;
    font-size: 7px;
    margin: 0px 8px;
  }
  
  .submitWr {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1.3rem 1rem 0;
  }
  
  .submitWr .btnSubmit {
    background: linear-gradient(90deg, #DE8601 0%, #FF3D97 100%) 0% 0%;
    width: 30%;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    color: #E5E5E5;
  }
  
  .submitWr a{
    color: #FF3D97;
    font-size: 13px;
    text-decoration:none;
  }
  .submitWr a:hover{
  	color: #FF3D97 !important;
	text-decoration: underline;
  }
  /* Sidebar End */
  
  /* Navigation Start */
  nav .navigation{
	height:6.8rem;
}
  .right-nav{
    display: flex;
    align-items: center;
    margin-right: 28px;
  }
  
.profile{
  width: 220px;
  margin-left: -47px;
}
.profile h4{
  font-size: 12px;
  font-weight: 600;
  margin-top: 13px;
  color:#fff;
  
}
.profile h4 span{
  font-size: 10px;
  font-weight: 300;
  color:#AFAFAF;
}
/* Home Section */
.home-section {
  position: relative;
  width: calc(100% - 280px);
  /*min-height:121vh;*/
}
.home-section .home-content {
  /*height: 15px;*/
  align-items: center;
}

.home-section .home-content .sidebaropen,
.home-section .home-content .text {
  color: #747474;
  font-size: 20px;
  background-color: #000000a3;
  padding: 5px 10px;
  border-radius: 7px;
}
/* starts Profile */
.action .profile .p_photo img{
    width: 60%;
    height: 33px;
    border-radius: 0.5rem;
    margin-left: 0;
}

.action .profile .fa-angle-down{
  font-size: 1.6rem;
}

.home-section .home-content .sidebaropen {
  margin: 0 -15px !important;
  cursor: pointer;
  z-index: 999;
}

.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
.profile{
  cursor: pointer;
}
.action .menu {
  position: absolute;
  top: -0.5rem;
    right: 1rem;
  /*width: 15rem;*/
      width: 27rem;
  padding: 1rem 1rem;
  background-color: #FCF9EE;
  box-sizing: 0 0.5rem 2.5rem rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: 0.5s;
  opacity: 0;
  z-index: 11;
  /* visibility: hidden; */
  display: none;
      margin-right: 3rem;
}
.action .menu h4{
  color: #191718;
  font-size: 13px;
  margin-right: 13rem;
    margin-top: 1rem;
}

.action .menu h4 span{
font-size: 11px;
color: #AFAFAF;
}

.action .menu button{
  font-size: 11px;
text-align: center;
margin: 0 auto;
/*margin-left: 11px;*/
padding: 8px 11px;
background-color: #E9E9E9;
margin-top: 2rem;
  }

.action .menu.active{
  opacity: 1;
  /* visibility: visible; */
  display: block;
}


.action .menu .AccessEMP span:hover {
background: black;
background: linear-gradient(to right, #DE8601 0%, #FF3D97 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* .action .menu::before{
  content: '';
  position: absolute;
  top: -0.5rem;
  right: 2.8rem;
  width: 2rem;
  height: 2rem;
  background: #fff;
  transform: rotate(45deg);
} */

.action .menu h3{
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  padding: 2rem 0;
  font-weight: 500;
  font-size: 1.8rem;
  color: #555;
  line-height: 1.2em;
}

.action .menu h3 span{
  font-size: 1.4rem;
  color: #cecece;
  font-weight: 400;
}
.action .menu ul li a{
text-decoration: none;
}

.action .menu ul li{
  list-style: none;
  padding: 0.25rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
}
.link_name{
	position:absolute;
	top:10px;
}
.action .menu ul{
  padding-left: 10px !important;
}
.action .menu ul li i{ 
color: #fff;
font-size: 23px;
border-radius: 14px;
background-color: #191718;
padding: 10px;
margin-right: 13px;
}
.action .menu ul li .fa-user{
  padding: 10px 15px;
}

.action .menu ul li .fa-right-from-bracket{
  padding: 10px 13px;
}
.action .menu ul li img{
  max-width: 2rem;
  margin-right: 1rem;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover img{
  opacity: 1;
}
footer{
  background-color: #000000;
  border-radius: 25px;
  padding: 56px;
  width: 93.1%;
  margin: 30px auto !important;
  
}
.action .menu ul li a{
  display: inline-block;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}
.home-section hr{
    color: #F5DFBC;
    opacity: 0.1;
    /*width: 92%;*/
    width: 95%; /*new added*/

    margin-left: 1.8%;
    }
.action .menu ul li:hover a{
  color: #ff5d94;
}

@media(min-width: 992px){
    html{
        font-size: 55%;
    }
    .action .menu.active{	
		margin-right: 2.3rem;
	}
	
	.action #username1{
	color:#000 !important;
}
	.action .menu h4 {
    	margin-right: 10rem;
	}
	.home-section {
	  	/*min-height:119vh;*/

	  	width: calc(100% - 315px)!important;
	}
}
.AccessEMP{
	background:#E9E9E9 !important;
    padding: 7px !important;
    width: 100%;
    font-size: 10px !important;
    }
    
.AccessEMP:hover{
	
	background:#000000 !important;
	color:#F32F6B !important;
}