@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');




*{
	
	font-family: 'Montserrat', sans-serif ;
}


.cardImg{
	background:url('../../../../SiteAssets/EngEmployee/images/image_graphic.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
.ms-cui-topBar1, .ms-cui-topBar2{
	display:none !important;
}

.fc-timegrid-more-link{
	
	background:transparent !Important;
	
	border:none !important;
	box-shadow:none !important;
}


  
 #MSOZoneCell_WebPartWPQ13,#MSOZoneCell_WebPartWPQ14,#MSOZoneCell_WebPartWPQ12{
	display:none !important;
}


 #MSOZoneCell_WebPartWPQ9,#MSOZoneCell_WebPartWPQ10,#MSOZoneCell_WebPartWPQ11{
	display:inline-table !important;
}




.footerleft{
	
	border:none !Important;
}


.footerleft img{
	
	width: 30%;
}

#SearchBox{
	
	display:none;
}

.arrow1{
	position: static !important;
	margin: 0 auto;
	margin-top:30px;
}


#profileImg{
	
	margin:0 auto !Important;
}


.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}


#userEmail,#dept{
	
	font-size:1.2rem;
}




::-webkit-scrollbar {
  width: 10px;
}


.pastEvntsPagecardBottomWr::-webkit-scrollbar {
  			width: 0.1px !important;
  			
	}


/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important;
    border-radius: 10px;
}
 
/* Handle */

::-webkit-scrollbar-thumb {
  background: #747474;
    border-radius: 10px;
}






.PopMsg::-webkit-scrollbar {
  width: 0.1px;
}

/* Track */
.PopMsg::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important;
    border-radius: 10px;
}
 
/* Handle */

.PopMsg::-webkit-scrollbar-thumb {
  background: #747474;
    border-radius: 10px;
}

.fc-view-harness::-webkit-scrollbar {
  width: 1px !important;
}


.fc-view-harness ::-webkit-scrollbar-track {
	width: 1px !important;

  background:none !Important;
  box-shadow:none !important;
    border-radius: 10px;
}
 
/* Handle */

.fc-view-harness ::-webkit-scrollbar-thumb {
   background:none !Important;
}


.offcanvas-body::-webkit-scrollbar {
  width: 0.1px !important;
}


.offcanvas-body ::-webkit-scrollbar-track {
	

  background:none !Important;
  box-shadow:none !important;
    border-radius: 10px;
}
 
/* Handle */

.offcanvas-body ::-webkit-scrollbar-thumb {
   background:none !Important;
}





/* Notification Code */



.subdiv{
	
	
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}



.fc-view-harness{
	
	border-right:1px solid #393939;
	border-bottom-right-radius: 1.5rem;
	
}

    
    light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
     background-color: #282828 !Important;
     }
     
     
    .btn-light:hover{
    
    background-color: #282828 !Important;

	
	}
	
	
	.fc-event-main{
	
	display:flex;
	align-items:center;
}


.rightDivider{
	
	width:80%;
	margin:1rem auto;
	margin-bottom:2rem;

	height:1.2px;
	background: transparent linear-gradient(90deg, #F4D0B400 0%, #F984E6 50%, #F4D0B400 100%) 0% 0% no-repeat padding-box;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif  !Important;
}

body,html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 10px;
    background-image: url("https://amdocs.sharepoint.com/sites/EP/SiteAssets/EngEmployee/images/page_background.png") !important;
    background-size: cover;
}


.ms-webpartzone-cell{
	
	margin-bottom:0 !Important;
}


.wrapper{
    width: 100%;
    /* height: 100%; */
    /*background-color: #2a2a2a;*/
    
}
.link_name{
	color:#fff;
	font-size:1.2rem;
	font-weight:500;
}
.nav-links .mx-auto img{
	background: #191718 0% 0% no-repeat padding-box;
    padding: .7rem;
    margin-left: .4rem;
    border-radius: 6px;
    margin-right: .5rem;

}


_invisibleIfEmpty .ms-fullWidth{
	
	height:45rem;
}

.profile .menu {
	display:flex;
	align-items:flex-end;
	position: absolute;
    top: -20px;
    left: -1vw;
    height: 10rem;
    width: 16vw !important;
    padding: 0;
      background-color: #FCF9EE;
  box-sizing: 0 0.5rem 2.5rem rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: 0.5s;
  opacity: 0;
  z-index: 11;
  /* visibility: hidden; */
  
}

#siteadmin{

 padding: 7px 20px;
 width:95%;
 margin:0 auto;
 margin-bottom:5%;
	
}


.profile .menu.active .btn{
	   
    height:30px;
	

    background: #E9E9E9 0% 0% no-repeat padding-box;
    }
.profile .menu.active{

	
  opacity: 1;
  /* visibility: visible; */
  
}

.p_it {
  font-size: 0.8rem;
}
#profileIMG img{
	
	width:55%;
}
/*.calenderWidth{
	width: 60rem !important;
    height: 46rem !important;
	
}*/
.p_it span {
  font-size: 1.2rem !important;
}
.ms-acal-hour00 .ms-acal-detailtime, .ms-acal-hour00 td{
	
	border-bottom:none;
}
.ms-acal-week-top td{
	
	    color: #333333;
    border: 0px solid #393939;
    width: 14.5%;
}
.ms-acal-hour30 td, .ms-acal-hour00 td, .ms-acal-allday td{
	
	border-color:#393939;
}
.ms-acal-week-top td div{
	
	    padding: 0px 4px 1px 4px;
    cursor: pointer;
    border: solid 1px #393939;
    text-transform: uppercase;
   
}
#ctl00_ctl31_g_ad81b757_e1e5_47a4_b3a6_a44a2e017283_ctl01_ctl00_ctl00 > table > tbody > tr.ms-acal-week-top > td > div{
	text-align:center;
}
#ctl00_ctl31_g_ad81b757_e1e5_47a4_b3a6_a44a2e017283_ctl01_ctl00_ctl00 > table > tbody > tr.ms-acal-week-top > td > div > nobr{
	font-size:11px !important;
	font-weight:400;
}
.spanImg{
	position:relative;
	    width: 231px;
}
.calImg{
	position: absolute;
    z-index: 111;
    top: 12px;
    left: 11px;
    height: 15px;
    width: 14px;

}



.tr td div.ms-acal-today{
	    color: #DE8601 !important;
	    border-top:none;
    border-bottom: solid 1px #DE8601 !important;
}



.offcanvas.show,.offcanvas-body{
	
	background:none!important;
	border:none !Important;
}

.offcanvas{
	
	background:none!important;
	border:none !Important;

	
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none; 
}
.calenderHead{
	display:flex;
	}
.amin{
	color: #fff;
    font-size: 14px;
    position: absolute;
    z-index: 111;
    left: 11%;
    margin-left: 4px;
    margin-top: 10px;
}
.ms-acal-header{
	height:40px !important;
	
}
#WPQ5_nav_header{
	    position: absolute;
    right: 35px;
    top: 4px;
}
#WPQ5_nav_prev_img{
	position: absolute;
    right: 187px;
}
#WPQ5_nav_next_img{
position: absolute;
    right: 12px;
}
/*#AsynchronousViewDefault_CalendarView{
	    border-right: 3px solid #000000;
}*/
.ms-acal-header{
	    border-top-right-radius: 15px;
    border-right: none;	    
    border-top-left-radius: 15px;
}
.ms-acal-header,#ctl00_ctl31_g_ad81b757_e1e5_47a4_b3a6_a44a2e017283_ctl01_ctl00_ctl00 > table > tbody > tr.ms-acal-week-top > th{
	background: #000000;
	margin: 0px 0px 0px 4px;
    padding: 11px;
}
#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > table > tbody > tr.ms-acal-week-top > th{
		background: #000000;
		
}
td.ms-acal-outday{
	
	background:none;
}
#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > table > tbody > tr > th.ms-acal-detailtime{
 	border-top:none !important;
	border-bottom:none;
	background:#000000;
}
.ms-acal-summary-dayrow > th{
	
	border-bottom:none !important;
	border-top:none !important;
}
#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > table > tbody > tr > th > a > span{
	color:#fff;
	font-size:10px;
}
#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > table > tbody > tr.ms-acal-week-top > td > div > nobr{
	font-size:12px;
	
}
.IT {
  text-transform: uppercase;
  background: linear-gradient(to right, #deaa3a 0%, #f34da8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > table > tbody > tr > th > nobr > span{
	color: #fff;
    font-weight: 300;
    font-size: 12px;
    text-align: center;	
}
#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > table > tbody > tr:nth-child(40) > th,#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > table > tbody{
	
	}
#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > table > tbody > tr > td > div > nobr{    color: #fff;
    font-weight: 600;
    font-size: 24px;
    text-align: center;	
}
.ms-acal-display{
	
	color: #fff !important;
    font-size: 14px;
    padding: 5px;
    white-space: nowrap;
}
.ms-acal-detail, .ms-acal-daygroup, .ms-acal-weekgroup{
	
	border-bottom:none;
}
.ms-acal-rootdiv th.ms-acal-detailtime, .ms-acal-rootdiv th.ms-acal-day-top, .ms-acal-rootdiv th.ms-acal-month-top,#ctl00_ctl30_g_ad81b757_e1e5_47a4_b3a6_a44a2e017283_ctl01_ctl00_ctl00 > table > tbody > tr.ms-acal-week-top > th{
	background:#000;
	border:none;
}
.ms-acal-rootdiv span{
	
	display:inline-block;
}
nobr{
	color:#fff;	
	    font-weight: 600;
    font-size: 13px;
}
.ms-acal-rootdiv span{
	
	color:#ffffff !important;
}
.
#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > div > table > tbody > tr > td > a{
font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;    }

#ctl00_ctl30_g_ddb9657b_2fe5_4cfd_8d5d_c73a6b04dd2e_ctl01_ctl00_ctl00 > table > tbody{
	background:#101010;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 12vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.mainContent{
    width: 100%;
    min-height: 80%;
    background-color: transparent;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
}
.contentWr{
    width: 92%;
    min-height: 80vh;
    display: flex;
    /* border: 1px solid red; */
}
.bottomWr{
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
}
.bottomWr .calendarWr{
    width: 70%;
    height: 80vh;
    border-radius: 1.5rem;
    /* background-color: #000000; */
    /* border: 1px solid red; */
}
.bottomWr .calendarWr .calendar{
    width: 95%;
    height: 80vh;
    border-radius: 1.5rem;
    background-color: #000;
}
.bottomWr .calRight{
    width: 30%;
    /* border: 1px solid red; */
}
.bottomWr .calRight .smiley{
    width: 100%;
    height: 22vh;
    margin: 0 auto;
    border-radius: 1.5rem;
    background: linear-gradient(87deg, #F8F1D9 0%, #FFFFFF 100%) 0% 0%;
    /* border: 1px solid red; */
}
.bottomWr .calRight .events{
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    margin: 1.5rem 0;
    border-radius: 1.5rem;
    background-color: #000;
    /* border: 1px solid red; */
}
.bottomWr .calRight .survey{
    width: 100%;
    height: 24vh;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-color: #131313;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottomWr .calRight .survey .mainSurvey{
    width: 80%;
    height: 60%;
    margin-top: 1rem;
    border-radius: 1.5rem;
    background-color: #000;
    /* border: 1px solid red; */
}
.sidebarWr{
    width: 30%;
    /*min-height: 130vh;*/

    justify-content: start;
    display: flex;
   /*  border: 1px solid red; */
}
.sidebar{
    width: 90%;
    background-color: #121112;
    height: auto;
    border-radius: 15px;
    position: relative;
}
.arrow,.arrow2{
    background-color: #090909;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    position: absolute;
    right: -1.7rem;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow img,.arrow2 img{
    width: 0.8rem;
    opacity: 0.5;
}
.content{
    width: 75%;
    /* border: 1px solid red; */
}
.banner{
    width: 100%;
    /* height: 16rem; */
    /* height: 40vh; Venu*/
    background-color: #B9B56C;
    border-radius: 20px;
}
.toughtOftheDay{
    width: 100%;
    height: 6vh;
    background: linear-gradient(89deg, #E6E3BA 0%, #FCDEBD 27%, #F5D8E0 54%, #D7E0E5 78%, #FEDADE 100%) 0% 0%;
    border-radius: 1.5rem;
    margin: 15px 0;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}
.toughtOftheDay .thoughtText label{
    font-size: 1.2rem;
}
.toughtOftheDay .thoughtImg{
    width: 2rem;
    margin-right: 1.1rem;
}
.toughtOftheDay .thoughtImg img{
    width: 100%;
}
footer {

    width: 92%;
    /* height: 60vh; */
    height: auto;
    margin:0 auto;
    margin-top:3rem;
    background-color: #131313;
    border-radius: 15px;

}
.bottomLayout{
    width: 100%;
    height: 30vh;
    background-color: #191718;
}
.backImage{
	
	background:#2a2a2a;
}

/* navbar css */
.navWr{
    width: 92%;
    display: flex;
    margin:0 auto;
    justify-content:space-between;
    /* border: 1px solid red; */
}
.navWr .logo{
    width: 22%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.navWr .logo .logoImg{
    width: 20rem;
}
.navWr .logo .logoImg img{
    width: 100%;
}
.navWr .logo .divider{
    margin: 0 1.2rem;
}
.navWr .logo .powered{
    width: 14rem;
}
.navWr .logo .powered img{
    width: 100%;
}
/* .navWr .logo .powered span .p_it{
    background: linear-gradient(to right, #deaa3a 0%, #f34da8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.navWr .rightNav{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid red; */
}
.navWr .rightNav .search{
    width: 30%;
    height: 3.5rem;
    display: flex;
    background-color: #282828;
    border: 0;
    border-right: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.navWr .rightNav .search .input-group-text{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    background-color: transparent;
    color: #EBEBEB;
    font-size: 1rem;
    font-weight: bold;
    
    
}


.searchtext{
	
	padding-left:0 !important;
    padding-right:15px !important;
}

.navWr .rightNav .search input{
    border-radius: 0;
    background-color: transparent;
    border-color:#282828;
    color:white;
}

.navWr .rightNav .search input:focus {
    
    box-shadow: red !important;
    border:none !important;
    outline-style: none !important;
	box-shadow: none !Important;
	border-color: transparent !important;
    
}    



input::placeholder{
    color: #E5E5E5;
    font-size: 1rem;
    font-weight: bold;
}

.navWr .rightNav .notifications{
    width: 15%;  
    height: 3.5rem;  
    /* border: 1px solid red; */
}

.notification:{
	background: #F2ECD5 0% 0% no-repeat padding-box;
}
.navWr .rightNav .notifications ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navWr .rightNav .notifications ul span{
    height: 3.5rem;
}
.navWr .rightNav .notifications ul span img{
    
     height: 100%;
    
    }
    
.heart{

padding: 1rem;
	
}
 
.bell{
	padding: 1.1rem 1rem;
	border-radius: 0.8rem;
    background-color: #282828;
}   
 
.navWr .rightNav .notifications ul li a{
    
    border-radius: 0.8rem;
    background-color: #282828;
}
.navWr .rightNav .notifications ul li .heart img{
    width: 1.4rem;
}
.navWr .rightNav .notifications ul li .bell{
    position: relative;
}
.navWr .rightNav .notifications ul li .bell img{
    width: 1.2rem;
}
.navWr .rightNav .notifications ul li .bell .redDot{
    position: absolute;
    right: 0.7rem;
    bottom: 1.6rem;
    width: 10px;
    height:10px;
    
}
.navWr .rightNav .profile{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1rem;
    position:relative;
    /* border: 1px solid red; */
}
.navWr .rightNav .profile .action{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}
.navWr .rightNav .profile .pName{
    width: auto;
    height: 1.5rem;
    z-index:999;
    /* border: 1px solid red; */
}
.navWr .rightNav .profile .pName h4{
    color: #e5e5e5;
    font-size: 1.2rem;
}
.navWr .rightNav .profile .pName h4 span{
    color: #9f9d9d;
    font-size: 1rem;
    line-height: 1;
}

#siteadmin:hover{
	background:black !important;
	color:#F32F6B !important;
}


#siteadmin:hover .colorimg{
	display:block !important;
}


#siteadmin:hover .blackimg{
	display:none !important;
}



.navWr .rightNav .profile .p_photo{
    width: 4rem;
   
    z-index:1111;
    /* border: 1px solid red; */
}
.navWr .rightNav .profile .p_photo img{
     border-radius: 10%;
    height: 3rem;
    width: 3rem;
}
.navWr .rightNav .profile .angleDown{
    width: 1rem;
    z-index:99;
    /* border: 1px solid red; */
}
.navWr .rightNav .profile .angleDown img{
    width: 100%;
}
/* ends navbar */

/* starts main content */
.banner img{
    width: 100%;
}
.arrow1{
    right: 2.4rem !important;
    z-index: 11111;
    cursor: pointer;
}
.linkName{
    background-color: transparent !important;
    width: 67% !important;
}
.content1{

    width: 90% !important;
}



#SearchBox{
	position:absolute !important;
}


.cards{
    background-color: transparent !important;
    height: 35%;
}
.cards img{
    border-radius: 50%;
    width: 5rem;
    border: 2px solid white;
    height: 5rem;
    margin-top: 53px;
}
.sidebar .cardhide{
    width: 85%;
    
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-radius: 1.5rem;
    background: linear-gradient(180deg, #F8DCF7 0%, #FFFFFF 100%) 0% 0%;
    }
    
 .nav-links{
	margin-bottom:3rem;
}
.sidebar .card .cardImg{
      width: 14rem;
    height: 14rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.sidebar .card .cardImg img{
    width: 88%;
}
.sidebar .card .empName h5{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
}
.sidebar .card .empDesignation p{
    font-size: 1.3rem;
    line-height: 2;
    font-weight: 500;

}
.sidebar .card .empID p{
    font-size: 0.97rem;
    line-height: 0;
}
.sidebar .sidebarMenu{
    width: 83%;
    margin: 0 auto;
}
/* .sidebar .sidebarMenu ul li{   
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    background-color: #232323;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.sidebar .sidebarMenu ul li a{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #191718;
    display: flex;
    align-items: center;
} */
    
/* sidebar ul */
.sidebar .nav-links {
  	height: 100%;
    padding: 0px 0 0px 0;
    overflow: auto;  }
  
  .sidebar .nav-links li {
    background-color: #232323;
    margin-top: 1rem;
    border-radius: 1.1rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;      
    }
  
  .colorClass {
    background-color: transparent !important;
  
  }
  
  .sidebar .nav-links li:hover {
    background: transparent linear-gradient(89deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box;
  }
  /*.sidebar .nav-links li.active{
    background: transparent linear-gradient(89deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box;
  }*/
  .activeli{

    background: transparent linear-gradient(89deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box !important;

    /* border: 2px solid #fff; */

}

.activeliimgbk{

    background-color: #B15610 !important;
    

}
  
  .sidebar .nav-links li:hover img {
    background: #B15610 0% 0% no-repeat padding-box;
  }
  .sidebar .nav-links a li  img.active {
    background: #B15610 0% 0% no-repeat padding-box;
}

	/*.activeli{
    background: transparent linear-gradient(89deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box !important;
	}
.activeliimgbk{
    background-color: #B15610 !important;
}*/

.activeli{
	background:transparent linear-gradient(89deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box !important;
}

.activeliimgbk{
	background-color: #B15610 !important;
}

  .sidebar .nav-links a li img{
   width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: #191718;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 0.9rem 0.2rem 0.9rem 1rem;
      }
  
  .sidebar.close .nav-links i.arrow {
    display: none;
  }
  /* .sidebar.close{
    width: 50px;
  } */
  .sidebar .nav-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar .nav-links a li .link_name {
    font-size: 1.1rem;
    font-weight: 500;
    color: #E5E5E5;
    margin-left: 0.8rem;
  }
  
  .sidebar .nav-links li.showMenu .sub-menu {
    display: block;
  }

/* toggling width of sidebar and main content */ 
.collapsedView .sidebarWr{
    width: 10%;
}
.collapsedView .sidebarWr .sidebar{
    width: 80%;
}
.collapsedView .sidebarWr .sidebar .toggleImg{
    transform: rotateY(180deg);
}
.collapsedView .content{
    width: 88%;
}
.imagenone1 {
    display: none !important;
    transition: all 3s ease;
  }
  /* starts footer */

.footerWr {

    width: 100%;

    height: 10vh;

    display: flex;

    /* justify-content: center;

    align-items: center; */

    /* margin: 0 auto;  */

    /* position: relative; */

    /* border: 1px solid red; */

}



.footer .footerWr .footerEngPortal{

    display: flex;

    align-items: center;

    padding: 2rem 0 0 2rem;

}

.footer .footerWr .footerEngPortal .square{

    width: 6rem;

    height: 6rem;

    border-radius: 0.8rem;

    background-color: #000;

    border: 0.1rem solid #707070;

    margin-right: 1rem;

}

.footer .footerWr .footerEngPortal a h3{

    color: #fff;

    font-size: 2rem;
    margin-top:-3rem;
    font-weight: 100;

}

.footerBottom {

    display: flex;

    justify-content: center;

    align-items: center;

    /* width: 92%; */

    height: 5vh;

    /* margin: 0 auto; */

    /* border: 1px solid red; */

}



.amdocsCopyright{

   color: #C9C9C9;;

   display: flex;
   margin-top:-3rem;
   justify-content: center;

}

/* ends footer */
/* starts smiley */
.smiley{
    width: 92%;
    margin: 0 auto;
    padding: 1rem;
}
.smiley .smileyText ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.smiley .smileyText ul li{
    width: 2.5rem;
}
.smiley .smileyText ul li a,
.smiley .smileyText ul li a img{
    width: 100%;
}
.smiley .smileyText ul li a{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #101010;
    line-height: 2;
}
.submitWr{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1.3rem 1rem 0;
    border-top: 1px solid #dbdbdb;
    margin-top: -4rem;
}
.submitWr .btnSubmit{
    background: linear-gradient(90deg, #DE8601 0%, #FF3D97 100%) 0% 0%;
    width: 30%;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    color: #E5E5E5;
}
/* ends smiley */
.box {
  
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border: 1px solid black;
    }

.purple {
  background-color: #E8B0FC;
  
  }

.orange {
  background-color: #FFD08A;
  margin-left:1%;
}

.skyblue {
  background-color: #A4C6F9;
  margin-left:1%;
}

.red {
  background-color: #FF8A72;
  margin-left:2%;
}

.green {
  background-color: #C8DB88;
  margin-left:2%;
}
#s4-bodyContainer > div > div > div > div:nth-child(3){
	width:100% !Important ;
}

#s4-bodyContainer{
	padding: 0;
}


#WebPartWPQ11{
	
	height:auto !important;
}


/* Tab Sidebar */


.tab {
	
	display:none;
	padding:15px 0;
}


.sidemain{
	
	display:none;
	background:black;
	padding: 10px;
	width: 70px;
	height:100%;
	border-radius:20px;
	margin-left:20px;
}


header{
	
	height: auto;
}


.sidebutton  {
    background-color: #282828 !important;  
   	padding:10px 15px !Important;
    width: 100%;
    border-radius: 30% !important;

}

.sidebutton  img{
	
	width:10px
}


.side2{
	
	margin-top: 40vh;
	
	height:400px;
	
}

.side2 ul{
	
	
	margin:0 !Important;
	padding:0 !Important;
	
}

.sideimage{
	
	padding: 10px;
    border-radius: 35%;
    width: 40px;
    
    background: #282828 !important;
}

/* Tab Sidebar completed */



   @media (min-width:359px) and (max-width:767px){
   
   
   .bell img{
	
	width:1.2rem;
}
   
   .footerleft img {
    width: 50% !important;
}
     
 #MSOZoneCell_WebPartWPQ13,#MSOZoneCell_WebPartWPQ14,#MSOZoneCell_WebPartWPQ12{
	
	display:inline-table !important;
}


 #MSOZoneCell_WebPartWPQ9,#MSOZoneCell_WebPartWPQ10,#MSOZoneCell_WebPartWPQ11{
	
	display:none !important;
}

   
   
   
   .eventsInn{
	padding:10px  !Important;
}

.events{
	
	margin-bottom: 20px  !Important;
}


footer{
	margin-top:20px !Important;
}
   
   ::-webkit-scrollbar {
  width: 10px;
}

/* Track */

   
   
   .sidemain{
	display:none;
}

#img img,#WebPartWPQ14{
	
	    width: 100% !important;
}


    
    .ms-fullWidth{

		  width: 101% !important;
	}

.box {
    margin-left:0;
  }
  
  .surveyWr{
	overflow:hidden;
}


#WebPartWPQ11{
	
	height:auto !Important;
	width:100% !important;
}




.contentWr{
	
	width:94% !important;
}


/*S mobile header responsive */


header{
	
	height: auto;
}

.mobilenavWr .header{
    background-color: black;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.header .header-col{
    height: auto;
    align-items: center;
    border-bottom: 1px solid;
}
.header .header-col1 {
    height: auto;
    padding: 20px;
    justify-content: space-between;
}


.myheader{
	justify-content:space-between;
}

.h-activity{
	margin-right: 28px;
}

.h-activity1{
	margin-left: 15px;
}


#offcanvasScrolling{
	
	width:100%;
}

.header-col .h-logo{
    width: 160px;
    padding: 10px 0;
    margin-left: 7%;
}
.h-activity ul{
    list-style-type: none;
   	margin: 0;
    padding: 0px;
    float:right;
    align-items:center;
}
.h-activity ul li{
   
    margin-left: 2rem;
    
   
}
.h-activity ul li a{
    
    border-radius: 0.8rem;
    background-color: #282828;
}
.h-activity ul li a img{
    width: 1.4rem;
}
.h-activity ul li .bell1 .redDot1 {
    position: absolute;
    right: 0.8rem;
    top: 0.4rem;
    width: 0.7rem;
    }
    
    
 .bell1 img{
	
	width:1.2rem;
}
    
    
.profile1{
    padding: 0px !important;
}
.profile1 img{
   width: 3rem !important;
    height: 3rem;
    border: 1.5px solid white;
    border-radius: 5px;    border: 2px solid white;
    border-radius: 5px;
}
.header-col1 a{
    background-color: #282828;
    padding: 12px 15px;
    border-radius: 1rem;
   }
.header-col1 a img{
  width: 1rem;
}
 .search1 {
    
    width: 78%;
    height: 3.7rem;
    display: flex;
    background-color: #282828;
    border: 0;
    border-right: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-left: 0;
}

 .search1 .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    background-color: transparent;
    color: #EBEBEB;
    font-size: 1rem;
    font-weight: bold;
}

 .search1 input {
    border-radius: 0;
    background-color: transparent !important;
    border: 0;
}

input::placeholder {
    color: var(--gray-shade);
    font-size: 1rem;
    font-weight: bold;
}
.header .header-col1 div a{

    border: none;
}
.hactivity{
	margin-right: 2rem !important;
}
.mobilenavWr{
	width:100%;
}
.sidebarWr{
    width: 80% !important;
}
.offcanvas{
    background-color: transparent;
}
.bell1{
    z-index: 1;
}
.offcanvas-body{
    padding: 0px;
    background-color: #C1C1C1;

}


#_invisibleIfEmpty {
    width: 100% !important;
}


.toughtOftheDay{
   
    height: auto !important;
   
}
footer{
	width:95%;
	padding: 15px 5px 10px 18px;
		height:auto;
}
.footer{
	margin-bottom: 0;
}
.footerleft {
	width: 100%;
	
	border: 1px solid #c9c9c9b0;
	border-radius: 7px;
} 


.innerfoot img{
	width:60% !important;
	margin-left:0 !important;
}
  
.innerfoot h4{
	color: #C9C9C9;
	font-size: 14px !important;
	font-weight: 500;
	margin-bottom: 5px;
} 
.footermiddle .innerfoot span img{
	width: 80%;
	margin-left: -4px;
}
.footerright  img{
	width: 85% !important;
	float: right;
}    
}


@media (min-width:768px) and (max-width:991px){


.emoji img {
    width: 3vw !important;
}

footer {
	
	padding-top: 15px !important;
}


.expleft {
	
	width:50% !important;
}


#profileIMG img {
    width: 100%;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
  box-shadow:none !Important;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: none; 
  box-shadow:none !Important;
}



.navWr .rightNav .notifications {
  width: 25%;
  
}


.contentWr{
	
	min-height:0 !Important;
}


.navWr .rightNav .profile {
  width: 40% !important;
}


.profile .menu {
  width: 100% !important;
  
  }
  
  
  .navWr .rightNav .profile .angleDown {
  position:relative;
  left:-7px;
}


.side2{
	margin-top:0 !Important;
}

.ms-webpart-zone {
    display: table !important;
}
footer{
	
	width:95%;
}


.footerright > div > img {
	
	width: 55% !important;
    margin-right: 25px !important;
   
}



.innerfoot h4{
	
	
	font-size:14px !important;
	
}



.footer2 span{
	
	font-size:10px !important;

}


.footerright div{
	
	
	    width: 90%;
	
}


.contentWr{
	
	width:100%;
}

.linkName{
	width:100% !important;
	display: flex;
    justify-content: center;
}
.form{	
	justify-content:center;
}	
.sidemain {	
	display:block;
}
.ms-webpartzone-cell{	
	margin-bottom:0 !Important;
}

.tab{
	
	display:flex;
}


.sub{
	display:flex;
	padding-bottom:20px;
}


.linkName{
	margin:15px auto;
	background:none !Important;
}

#DeltaPlaceHolderMain{
	
}

	


/*S mobile header responsive */


header{
	
	height: auto;
}


.mobilenavWr .header{
    background-color: black;
    width: 100%;
    height: auto;
}
.header .header-col{
    height: auto;
    align-items: center;
    border-bottom: 1px solid;
    
}
.header .header-col1 {
    height: auto;
    padding: 20px;
}
.header-col div{
    width: 50%;
}
.header-col .h-logo{
    width: 60px;
    padding: 10px 0;
    margin-left: 7%;
}
.h-activity ul{
    list-style-type: none;
   	margin: 0;
    padding: 0px;
    float:right;
    align-items:center;
}
.h-activity ul li{
   
    margin-left: 2rem;
    
   
}
.h-activity ul li a{
    padding: 10px 12px 10px 12px;
    border-radius: 0.8rem;
    background-color: #282828;
}
.h-activity ul li a img{
    width: 1.4rem;
}
.h-activity ul li .bell1 .redDot1 {
    position: absolute;
    right: 0.8rem;
    top: 0.4rem;
    width: 0.7rem;
    }
.bell1{
    padding: 10px 9px 10px 12px !important;
}
.profile1{
    padding: 0px !important;
}
.profile1 img{
   width: 3rem !important;
    height: 3rem;
    border: 1.5px solid white;
    border-radius: 5px;    border: 2px solid white;
    border-radius: 5px;
}
.header-col1 a{
    background-color: #282828;
    padding: 1.2rem 1.8rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    width: 3rem;
height: 3.5rem;
}
.header-col1 a img{
    height: 1rem;
width: 1rem;
margin-left: -4px;
margin-top: -0.9rem;
}
 .search1 {
    width: 78%;
    height: 3.7rem;
    display: flex;
    background-color: #282828;
    border: 0;
    border-right: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}

 .search1 .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    background-color: transparent;
    color: #EBEBEB;
    font-size: 1.2rem;
    font-weight: bold;
}

 .search1 input {
    border-radius: 0;
    background-color: transparent;
    border: 0;
}

input::placeholder {
    color: var(--gray-shade);
    font-size: 1rem;
    font-weight: bold;
}
.header .header-col1 div a{

    border: none;
}
.hactivity{
	margin-right: 2rem !important;
}
.search1{
	width: 70%;
	margin-right:2rem !important;
}
.mobilenavWr{
	width:100%;
}
.sidebarWr{
    width: 100% !important;
}
.offcanvas{
    background-color: transparent;
}
.bell1{
    z-index: 1;
}
.offcanvas-body{
    padding: 0px;
    background-color: #C1C1C1;

}



.toughtOftheDay{
   
    height: auto !important;
   
}


.footer{
	margin-bottom: 0;
}


.navWr{
	
	width:95% !important;
	padding: 15px 0;
}


/* s completed */




.mainContent{
	flex-direction:initial;
	display:block;
}

.main-div{
	padding:0 20px
}

/*

#img img {
    width: 82vw !important;
    
}

*/

.toughtOftheDay {
  /*  width: 82vw !important;  */
    margin-left: 20px !important;  
}

#thoughtdsc{
	padding:20px 0;
}


#WebPartWPQ11{
	
	width:55vw !important;
	height:auto !important;
	
}




#MSOZoneCell_WebPartWPQ11{

width:98% !important;

	
}

.purple{
	margin-left:0;
	
}

#WebPartWPQ14{
	width:430px;
	
}

.smileyWr,.events{
	    margin-left: -20px!important;

    	height: auto!important;

}


.events{
	
	    padding: 10px;
}


.surveyHeading{
	
	width:80%!important;
}

.survey{
	
	 margin-left: -20px!important;
	 height:auto!important;
	 padding: 20px 0;

}

.surveyWr{
	
	    height: auto!important;
	    overflow:hidden;
}


.surveyHeading {
   
    width: 80%;
}

#calendar{
	
	width:85% !important;
	height: 44rem !important;	
	margin-left: 20px !important;
	margin-top:10px !Important;
}


#DeltaPlaceHolderMain > table > tbody > tr:nth-child(2) > td:nth-child(2) {
    width: 33% !important;
}

#DeltaPlaceHolderMain > table > tbody > tr:nth-child(2) > td:nth-child(1) {
    width: 65% !important;
}


.form{
	
	flex-wrap:wrap;
}


.emoji{
	width: 26%!important;
    margin: 0 5px!important;
}


.emoji-5 img {
    /* width: 80% !important; */
}
	
	
	.footer{
	width: 94vw;
	margin:0;
	margin-left:20px;
}

   .wrapper{
	overflow-x: hidden;
}
.footer{
	width: 94vw;
	margin:0;
	margin-left:20px;
}

.footermiddle .innerfoot span img{
	margin-left: -10px !important;
}

}



@media(min-width:992px) and (max-width:1200px){
.navWr .rightNav .notifications{
	width: 20% !important;
}

footer {
	
	padding-top: 15px !important;
}


.expleft {
	
	width:50% !important;
}

.footerright{
	
	width:40%!important;
}


.contentWr{
	width:95%!important;
}

footer{
	
	width:95% !important;
}


.sidebar .nav-links a li .link_name{
	
	font-size:1.1rem !Important;
}

.footer {
    width: 100%;
}
.footermiddle .innerfoot h4{
	font-size: 30px;
}
.footermiddle .innerfoot span img{
	width: 10px;
	margin-left: -10px !important;
}
.footerleft img{
	width: 200px;
}
	
}

@media(min-width:1200px) and (max-width:1400px){
.navWr .rightNav .notifications{
	width: 20% !important;
}


footer {
	
	padding-top: 15px !important;
}


.expleft {
	
	width:50% !important;
}

.footerright{
	
	width:30%!important;
}




	.footer {
    width: 100%;
    margin: 0;
   /* margin-left: 25px;*/
	}
.footermiddle .innerfoot h4{
	font-size: 30px;
}
.footermiddle .innerfoot span img{
	width: 10px;
	margin-left: -10px !important;
}
.footerleft img{
	width: 150px;
}
	
}


@media(min-width:1400px){
	
	.footerright img{
	
	width: 30% !Important;
}
}


@media(min-width:1800px) and (max-width:1921px){


#calendar{
	
	height:52vh !Important;
}

.surveyHeading{

	
	width:25%!Important;
	
}

.sidebar .card .cardImg{
     
    height: 19rem !important;
    width:19rem !important;
    }


#s4-bodyContainer > div > div > div > div.sidebarWr.d-none.d-lg-flex > div > div.card.cardhide > div > div.card-body.text-center{
	
	height: 11rem;
	
} 


.linkName{
	
	width:50% !Important;
}   
    

}

