
        #datatable_wrapper {
            background: #000000 0% 0% no-repeat padding-box;
            border-radius: 25px;

            padding: 30px;
            opacity: 1;
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
        }

        #datatable_length,
        #datatable_length>label>select {
            color: #AFAFAF;
            margin-bottom: 9px;
        }

        #datatable_filter {
            float: left;
            margin-left: 20px;
        }

        #datatable_length>label>select {
            width: 57px;
            height: 25px;
            background: #232323 0% 0% no-repeat padding-box;
            border: 1px solid #4E4E4E;
            border-radius: 5px;
            opacity: 1;
            padding: 0px;
        }

        #datatable_filter>label>input[type=search] {
            width: 230px;
            height: 25px;
            background: #232323 0% 0% no-repeat padding-box;
            border: 1px solid #4E4E4E;
            border-radius: 5px;
            opacity: 1;
            color:white;
            outline:none;
        }

        #datatable_info {
           letter-spacing: 0px;
            color: #AFAFAF;
            opacity: 1;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0; 
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
#datatable_paginate > span > a.paginate_button.current{
    background-color:#FF3D97;
    color: #FCF9EE !important;
    border: 1px solid #FF3D97;
border-radius: 5px;
}

        /* table{
            border-top: 1px solid #707070;
        } */


        table th {
            text-align: left;
            margin-top:20px;
            letter-spacing: 0px;
            color: #FCF9EE;
            opacity: 1;
            border-top: 1px solid #707070;
        }

        table tr {
            border-bottom: 1px solid #707070;
        }

        .ID {
            text-align: left;
           letter-spacing: 0px;
            color: #FCF9EE;
            opacity: 0.5;
            vertical-align: middle;
        }

        .para-1 {

            color: cornflowerblue;
            font-size: x-small;
            font-style: italic;
            padding-bottom: 0rem;
            padding-top: 1rem;;
        }

        .para-2 {
            color: #FCF9EE;
            padding-bottom: 0rem;
        }

        .para-1, .para-2{
            margin-top: 0;
            margin-bottom: 0rem;

        }

        .date-time {
            text-align: left;
            
            letter-spacing: 0px;
            color: #AFAFAF;
            opacity: 1;
            vertical-align: middle;
        }

        .emoji {

            vertical-align: middle;
        }

        .emoji img {
            width: 28px;
            height: 28px;
        }

        .emoji span {
            text-align: center;
            margin-right:7px;
            letter-spacing: 0px;
            color: #E9E9E9;
            opacity: 1;
        }

        .status {
            text-align: left;
            
            letter-spacing: 0px;
            color: #AFAFAF;
            opacity: 1;
            vertical-align: middle;

        }

         .event-details {
            vertical-align: middle;
        }
        p {
            margin-top: 0;
         margin-bottom: 0rem; 
        }
        .time{
            font-size: small;
        }
         .heading{
            display: flex;
    justify-content: space-between;
        }
        .tableheading{
            color:#ffffff;
            position: absolute;
    top: 6rem;
    left: 6rem;
    z-index: 1;
        }
       
        .downloadBtn{
            position: absolute;
            z-index: 1;
            left: 121rem;
            top: 4rem;
            color: #ffffff;
            background: transparent linear-gradient(89deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box ;
            border-radius: 7px;
            /*padding: 0.1rem 1rem;*/
        } 

        #datatable_length,#datatable_filter{
            visibility:hidden;
        }

/* filter dropdown butons css*/
        .dropbtn {
            background-color: #04AA6D;
            color: white;
            padding: 2px 4px;
    font-size: 14px;
            border: none;
            border-radius: 3px;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #FCF9EE;
            min-width: 130px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 999;
            padding: 0 0.3rem;
            border-radius: 7px;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown-content a:hover {background-color: #ddd;}
          
          .dropdown:hover .dropdown-content {display: block;}
          
          .dropdown:hover .dropbtn {background-color: #3e8e41;}
          
          .ckeckboxLabel{
            font-size: 10px;
          }
          input[type='checkbox'] {
            accent-color: #FF3D97;
        }
        