.modal.show .modal-dialog{
    width: 29%;
    border: none;
   }
        .modal-header {
            display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background: #000;
    margin-top: -2px;
    color: #fff;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - -20px);
    border-top-right-radius: calc(0.3rem - -20px);
        }
        .modal-content{
            border-radius: 27px;
            background-color: #FCF9EE;
        }
        .modal-body{
            margin: 0 auto;
            text-align: center;
        }
        .modal-body img{
            width: 12%;
        }
        .btn:focus {
  outline: none;
  box-shadow: none;
}
        .modal-body .message{
            display: block;
            padding: 0px 50px;
            color: #191718;
            font-weight: 600;
        }
        .okbtn{
            color: #fff;
            background: transparent linear-gradient(90deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box;
            border-radius: 6px;
            width: 65px;
            height: 27px;
            font-size: 11px;
            line-height: 0px;
        }
        .modal-body .fa-trash-can{
            font-size: 21px;
            color: #FF3D97;
        }
        .modal-header .fa-trash-can{
            font-size: 18px;
            color: #FF3D97;
            margin-right: 10px;
        }
        .modal-header .modal-title{
            font-size: 13px;
        }