
        #datatable11_wrapper {
            background: #000000 0% 0% no-repeat padding-box;
            border-radius: 25px;
			width:91.5%;
            padding: 30px;
            opacity: 1;
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
           
        }
        #datatable11{
		width:100%;
		}
		.right-left{
	margin-left:66%
}

        #datatable11_length,
        #datatable11_length>label>select {
            color: #AFAFAF;
            margin-bottom: 9px;
        }

        #datatable11_filter {
            float: left;
            margin-left: 20px;
        }
        table.datatable11 tbody th, table.datatable11 tbody td{
	
	color:#fff;
	font-size:11px;
}

        #datatable11_length>label>select {
               width: 50px;
    height: 20px;
    background: #232323 0% 0% no-repeat padding-box;
    border: 1px solid #4E4E4E;
    border-radius: 5px;
    opacity: 1;
    margin: 0px 7px;
    padding: 0px;        }
#datatable11_length > label{
	    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
        #datatable11_filter>label>input[type=search] {
            width: 192px;
            height: 20px;
            background: #232323 0% 0% no-repeat padding-box;
            border: 1px solid #4E4E4E;
            border-radius: 5px;
            opacity: 1;
            color:white;
    margin-top: -2.9rem;
            font-size: 12px;
        }
        .main-style{
            position: relative;
        }
        .calenderView{
            position: absolute;
            right: 83px;
            color: #fff;
            z-index: 111;
            width: 20%;
            top: 25px;
            font-size: 10px;
            color: #AFAFAF;
                margin-top: -1rem;
        }
        .calenderView input{
            background: transparent;
    color: #fff !important;
    border: navajowhite;
    width: 44%;
        }
        #datatable11_info {
           letter-spacing: 0px;
            color: #AFAFAF;
            opacity: 1;
            font-size: 12px;
        }
        

        /* table{
            border-top: 1px solid #707070;
        } */


        table th {
            text-align: left;
            margin-top: 20px;
            letter-spacing: 0px;
            color: #FCF9EE;
            opacity: 1;
            font-size: 13px;
            border-top: 1px solid #707070;
            font-weight: 600 !important;
        }

        table tr {
            border-bottom: 1px solid #707070;
        }

        .ID {
            text-align: left;
           
            letter-spacing: 0px;
            color: #FCF9EE;
            opacity: 0.5;
            vertical-align: middle;
        }

        .para-1 {

            color: cornflowerblue;
            font-size: x-small;
            font-style: italic;
        }

        .para-2 {
            color: #FCF9EE;
            font-size: 13px;
            font-weight: 600;
        }

        .date-time {
            text-align: left;
            font-size: 12px;
            letter-spacing: 0px;
            color: #AFAFAF;
            opacity: 1;
            vertical-align: middle;
        }

        .emoji {

            vertical-align: middle;
        }

        .emoji img {
            width: 22px;
            height: 22px;
        }
        .para-1{
            margin-bottom: 0px !important;
        }
        .emoji span {
            text-align: center;
            margin-right:7px;
            letter-spacing: 0px;
            color: #E9E9E9;
            opacity: 1;
            font-size: 11px;
        }

        .status {
            text-align: center;
            font-size: 12px;
            letter-spacing: 0px;
            color: #AFAFAF;
            font-style: italic;
            opacity: 1;
            vertical-align: middle;

        }
        .complete{
            color: #71BC4C;
        }
        .draft{
            color: #EC9A2E;
        }

        .action {
            vertical-align: middle;
            text-align: end;
        }

        .action img {
            height: 20px;
        }

        .event-details {
            vertical-align: middle;
        }
        .paginate_button{
            font-size: 12px;
        }
        .autopub span{
            color: #FF706B;
            display: block;
        }
        .datatable11s_wrapper .datatable11s_paginate .paginate_button:hover{
            background: linear-gradient(to bottom, #FF3D97 0%, #FF3D97 100%) !important;
            box-shadow: inset 0 0 3px #FF3D97 !important;
            border-radius: 5px;
            color: #fff;          
        }
        .datatable11s_wrapper .datatable11s_paginate .paginate_button.disabled:hover{
            color: #fff !important;
            padding: 0px 3px ;
            border:transparent;
            background-color: black !important;
        }
        #datatable11_paginate > span > a.paginate_button.current {

            background-color: #FF3D97 !important;
            color: #FCF9EE !important;
            border:1px solid #FF3D97;
            border-radius: 5px;
            margin: 0px 10px;
            }
            .ui-datepicker th{
                color: #000;
            }
            .wow{
                color: #FF8A72;
            }
            .connect{
                color: #C8DB88;
            }
            .life{
                color: #EFBB6D;
            }
            .work{
                color: #E8B0FC;
            }
            .well{
                color:cornflowerblue;
            }
            
            table.dataTable tbody tr {
     background-color: black; 
     }