
.headinput{
    position: relative;
    background: #000000a3;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 92%;
    margin: 0 18px;
    opacity: 1;
   margin-bottom: -22px;
}

.event-head a{
    text-decoration: none;
  }
  .span-data {
    margin-top: 2%;
    font-size: 12px;
    color: #232323;
    font-weight: 600;
  }
.leftspan{
    width: 78%;
}
.cm_calendar{
	width:100%;
}
.editstart{
    cursor: pointer;
}
.leftspan input{
    width: 97%;
    font-size: 11px;
    background: transparent;
    padding: 6px 9px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    pointer-events: none;
}
.tdesk{
    width: 100% !important;
    height: 45px !important;
    border-radius: 13px !important;
}
.leftspan1 span{
    margin: 10px 0px;
}
.leftspan1 label{
    font-size: 9px;
    margin: 2px 6px;
   color: white;

}
.publishbtn1{
    position: absolute;
    right: 10px;
    top: 13px;
}

input[type=password]:focus, input[type=text]:focus, input:not([type]):focus, select:focus, textarea:focus, .sp-peoplepicker-topLevelFocus, .ms-inputBoxActive, .ms-inputBox.ms-inputBoxActive:hover,input[type=password]:hover, input[type=text]:hover, input[type=file]:hover, input:not([type]):hover, textarea:hover, .sp-peoplepicker-topLevel:hover, .ms-inputBox:hover {
    border-color: #ff3d97 !important;
}

.tbaner,.tdesk{
    width: 40%;
    border-radius: 15px;
    outline: none;
    border: 1px solid #4E4E4E;
    background: #232323 !important;
    padding: 4px 11px;
    height: 30px;
    font-size: 10px;
    color: #E5E5E5;

}
.leftspan1{
    width: 75%;
    margin-left: 1rem;
}
.leftspan1 input{
    font-size: 11px;
    padding: 3px 9px;
    color: #fff;
    height: 31px;
    width: 257px;
    outline: none;
}
.editon{
    pointer-events: all !important;
    border: 1px solid #a7a7a7 !important;
}
.publishbtn{
    background: rgba(255, 255, 255, 0.2);
    /* background-size: 800px 100%; */
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 11px !important;
    color: #747474 !important;
    background-position: 50% 100%;
    transition: all .3s ease;
    border:1px solid #4E4E4E !important;
}
.publishbtn:hover{
    border-radius: 4px;
    font-size: 11px;
    padding: 5px 10px;
    box-shadow: 0 0 6px 0 transparent;
    border: solid 1.5px transparent !important;
    color: #fff !important;
    background: transparent linear-gradient(89deg, #DE8601 0%, #FF3D97 100%) 0% 0% no-repeat padding-box;
    transition: all .3s ease-in-out;
}



.mainInformationContrainer{
    position: relative;
}
.mainInformationContrainer ul{
    margin-bottom: 0px;
    padding-left: 5px;
}
.mainInformationContrainer ul li{
    list-style: none;
    width: 100%;
    /* margin-bottom: 10px; */
    overflow: auto;
}
.mainInformationContrainer ul li label{
    width: 15%;
    display: block;
    float: left;
    color: #444;
    font: 13px/1.7em "Open Sans", "trebuchet ms", arial, sans-serif;
}
.mainInformationContrainer ul li .oneInfo{
    width: 100%;
    overflow: hidden;
}

.mainInformationContrainer ul li .oneInfo span{
    color: #ffffff;
    font-size: 11px;
}
.mainInformationContrainer ul li  input[type="submit"], .mainInformationContrainer ul li  input[type="file"]{
    color: #ffffff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    background-color: #e5412d;
    border-color: #dd301b;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius:4px;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.mainInformationContrainer ul li  input[type="submit"]:hover{
    background-color: red;
}

.sidebar{
    height: 47.5rem !important;
}
.mainInformationContrainer ul li .oneInfo img {
    width: 185px;
    height: 121px;
}
.mainInformationContrainer ul li .oneInfo .spanForFileInput{
      overflow: hidden;
    position: absolute;
    bottom: 0px;
    width: 91%;
    vertical-align: middle;
    color: #333;
    background-color: #000000bf !important;
    display: inline-block;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    }

#file_input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
    display: block;
}
.fa-upload{
    margin-right: 10px;
    font-size: 14px;
}
.selectImage{
    position: relative;
        display: inline-block;
    padding: 6px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    opacity:0.6;
}

.imageli{
    border-radius: 15px;
    margin-bottom: 0px !important;
}