@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --black-color: #000;
    --white-color: #fff;
    --gray-shade: #e5e5e5;
}

html{
    font-size: 62.5%;
}
body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    /* font-size: 10px; */
    font-family: 'Montserrat', sans-serif;
    background-color: #2a2a2a;
}

.wrapper {
    width: 100%;
}

ul {
    list-style-type: none;
    /* padding: 0; */
}

a {
    text-decoration: none;
}

/* starts work */
.evntdtlsHeading {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 1.1rem;
    margin-bottom: 2.7rem;
}

.evntdtlsHeading .evntdtlsClick .evntdtlsArrow {
    display: flex;
    align-items: center;
}

.evntdtlsHeading .evntdtlsClick h3 {
    color: #fff;
    margin: 0;
}

.evntdtlsHeading .evntdtlsClick img {
    width: 1rem;
    margin-right: 1rem;
}

.eventdetailsWr{
    background-color: #000;
    width: 100%;
    min-height: 90vh;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventdetailsWrcontent{
    width: 60%;
    padding-top: 2rem;
}
.eventdetailsWrcontent .eventdtlsImg{
    margin-bottom: 2rem;
}
.eventdetailsWrcontent .eventdtlsImg img{
    width: 100%;
    border-radius: 1.5rem;
}
.eventdtlsTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    height: 6vh;
    /* border: 1px solid red; */
}
.eventdtlsTitleRight{
    /* width: 10rem; */
    /* border: 1px solid #FF3D97; */
    height: 3rem;
}
.eventdtlsTitleRight a{
    border-radius: 50%;
    border: 0.1rem solid #FF3D97;
    padding: 0.8rem 0.7rem;
}
.eventdtlsTitleRight a img{
    width: 42%;
}
.eventdtlsText .eventdtlsTitle .eventwork {
    color: #E8B0FC;
    margin: 0;
}
.eventdtlsText .eventdtlsTitle h5{
    color: #fff;
}
.eventdtlsText .eventdtlspara{    
    margin-bottom: 1.5rem;
}
.eventdtlsText .eventdtlspara {    
    margin-bottom: 1.5rem;
}

.eventdtlsText .eventdtlspara h6 label{
    color: #E5E5E5;
    opacity: 0.8;
   
}
.eventdtlsText .eventdtlsDateTime{
    display: flex;
    align-items: center;
    color: #ababab;
    margin-bottom: 1.5rem;
}
.eventdtlsText .eventdtlsDateTime .eventdtlsClockText,
.eventdtlsText .eventdtlsDateTime .eventdtlsCalendarText,
.eventdtlsText .eventdtlsDateTime .eventdtlsMapText{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.eventdtlsText .eventdtlsDateTime .eventdtlsClockText img,
.eventdtlsText .eventdtlsDateTime .eventdtlsCalendarText img,
.eventdtlsText .eventdtlsDateTime .eventdtlsMapText img{
    margin-right: 0.6rem;
    width: 1.4rem;
}
.eventdtlsText .eventdtlsDateTime .eventdtlsMapText div a{
    color: #ababab;
    text-decoration: underline;
}

.eventdtlsBtn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}
.eventdtlsReminder{
    margin-right: 1rem;
}
.eventdtlsBtn .eventdtlsReminder a {
    background-color: #232323;
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-size: 1.1rem;
    /* margin-right: 2rem; */
}

.eventdtlsBtn .eventdtlsJoin a {
    background: linear-gradient(90deg, #DE8601 0%, #FF3D97 100%);
    padding: 0.6rem 4rem;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-size: 1.1rem;
}
.eventdtlsFeel{
    display: flex;
}
.eventdtlsFeel{
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #2e2e2e;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
}
.eventdtlsFeel .feelText{
    color: #E5E5E5;
    margin-right: 2rem;
}
/* starts smiley excited */
.feelBtns{
    display: flex;
    align-items:center;
}
.radiofeel{
    display: none;
}
.emoji{
    /* font-size: 40px; */
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#excited-1:checked ~ .borderLinear1 .emoji-1,
#excited-2:checked ~ .borderLinear2 .emoji-2,
#excited-3:checked ~ .borderLinear3 .emoji-3{
    background-color: #000;
    border-radius: 0.5rem;
}
#excited-1:checked ~ .borderLinear1,
#excited-2:checked ~ .borderLinear2,
#excited-3:checked ~ .borderLinear3{
    background: linear-gradient(87deg, #DE8601 0%, #FF3D97 100%);
    border-radius: 0.5rem;
    padding: 0.1rem;
}
#excited-1:checked ~ .borderLinear1 .emoji-1 h6,
#excited-2:checked ~ .borderLinear2 .emoji-2 h6,
#excited-3:checked ~ .borderLinear3 .emoji-3 h6{
    background: linear-gradient(87deg, #DE8601 0%, #FF3D97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#excited-1:checked ~ .borderLinear1 .emoji-1 i,
#excited-2:checked ~ .borderLinear2 .emoji-2 i,
#excited-3:checked ~ .borderLinear3 .emoji-3 i{
    background: linear-gradient(87deg, #DE8601 0%, #FF3D97 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*.fa-solid{
    font-weight: 100;
}*/
.emoji i{
       font-size: 1.5rem;
    color: #fff;
    margin-right: 0.5rem;
}

.emoji h6{
    color: #FCF9EE;
    margin: 0;
}
/* .emoji-3 img{
    width: 100%;
} */
/* ends smiley excited */

/* starts breadcrumb */
ul.breadcrumb li {
    display: inline;
    font-size: 1.2rem;
}

ul.breadcrumb li+li:before {
    padding: 0.3rem;
    font-size: 1rem;
    color: var(--gray-shade);
    content: "/\00a0";
}

ul.breadcrumb li {
    color: var(--gray-shade);
    font-size: 1rem;
    font-weight: 100;
}


@media (min-width: 768px) and (max-width: 991px){
	
	
	


.navWr {
    width: 92% !important;
    
}

.navWr .rightNav .search{
	
	width:45%;
}

#SearchBox {
    display:none !important;
}

}

/* ends breadcrumb */


