.ratereviewbody{
    padding: 0.6rem;
}
#ratereviewModal .modal-header{
    background-color: #000;
}
.ratereviewbody .ratereviewbodyWr{
    width: 90%;
    margin: 0 auto;
}    
.ratereviewbody .ratereviewbodyWr .ratingEvent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ratereview .rr_heading{
    display: flex;
    margin-left: -1.4rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #000;
    border-radius: 1.3rem 1.3rem 0rem 0rem;
    margin-top: -1.6rem;
    margin-right: -1.4rem;
}
.ratereview .rr_heading div:nth-child(1){
    display: flex;
    align-items: center;
}
.ratereview .rr_heading h5 {
    color: #fff;
    margin: 0;
}
.ratereview .rr_heading img{
    width: 11%;
    margin-right: 0.5rem;
}
.ratereviewbody .star_set{
    display: flex;
    padding: 0;
}
.ratereviewbody .star_set li img{
    width: 70%;
}
.ratereviewbody .ratereviewbodyWr .ratingBox{
    border: 0.1rem solid #C1C1C1;
    text-align: center;
    border-radius: 0.8rem;
    padding: 1rem;
}
.ratereviewbody .ratereviewbodyWr .ratingBox .rateno label{
    font-size: 2rem;
}
.ratereviewbody .ratereviewbodyWr .ratingBox .smallStar{
    display: flex;
    justify-content: center;
    padding: 0;
}
.smallStar li:nth-child(2),
.smallStar li:nth-child(4){
    margin: 0 0.3rem 0 0.3rem;
}
.ratereviewbody .ratereviewbodyWr .ratingBox .ratetext label{
    font-weight: 500;
}
.ratereviewbody .ratereviewbodyWr .reviewTextarea h6{
    color: #757575;
}
.ratereviewbody .ratereviewbodyWr .reviewTextarea textarea{
    border: 1px solid #191718;
    outline: none;
    resize: none;
    border-radius: 1rem;
    height: 7rem;
}
.ratereviewbody .ratereviewbodyWr .reviewTextarea{
    margin-bottom: 1.3rem;
}
.ratereviewbody .ratereviewbodyWr .reviewBtns{
    display: flex;
    justify-content: end;
}
.ratereviewbody .ratereviewbodyWr .reviewBtns .cancelBtn{
    border: none;
    background-color: transparent;
    color: #0A0909;
    font-size:1rem;
    font-weight: 700;
}
.ratereviewbody .ratereviewbodyWr .reviewBtns .submitBtn{
    background: linear-gradient(90deg, #DE8601 0%, #FF3D97 100%);
    border: none;
    padding: 0.4rem 2rem;
    border-radius: 0.4rem;
    color: #fff;
    margin-left: 1rem;
    font-size:1rem;

}
.loadmore{
    text-align: center;
}
.loadmore a{
	font-weight: 500;
    color: #242424;
    text-decoration: underline;
    font-size:1rem;
}
.box1Heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.namestar{
    display: flex;
    align-items: center;
}
.namestar img{
    width: 68%;
}
.ppname_star{
    margin-left: -1rem;
    padding-top: 1rem;
}
/* .ppimg{
    text-align: center;
} */
.ppsmallStar{
    display: flex;
    padding: 0;
}
.reviewBox{
    margin-bottom: 1rem;
}
.review1Box,
.review2Box{
    border-top: 0.1rem solid rgb(232 232 232);
    padding: 1rem 1rem;
}
#ratereviewModal .modal-content{
    height: auto; 
    width: 80%;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-color: #FCF9EE;
    border: none;
    /* padding: 1rem; */
    /* background: linear-gradient(86deg, #DE8601 0%, #FF3D97 100%); */
}
.ratereviewbody .pastevntsDetails{
    position: absolute;
    bottom: 1rem;
    left: 2.5rem;
}
.ratereviewbody .pst h2{
    font-weight: 500;
}
.ratereviewbody .pstvideoWr{
    background-color: var(--white-color);
    height: 100%;
    border-radius: 1rem;
}
.ratereviewbody .favvideoImg1 .faveventsDetails h5,
.ratereviewbody .favvideoImg1 .faveventsDetails p{
    color: var(--white-color);
}
.commentBox{
    overflow-y: scroll;
    max-height: 30vh;
}

.commentBox::-webkit-scrollbar {
    width: 1em;
}
 
.commentBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1rem;
}
 
.commentBox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}
/* ends Rate-Review modal */

/* starts rate event css */
.ratereviewbody .ratereviewbodyWr .ratingEvent .stars{
    padding: 1.5rem;
    text-align: center;
}
.ratereviewbody .ratereviewbodyWr .ratingEvent .stars .rating_stars{
    width: 13.5rem;
    margin: auto;
}

/* stars css */

.stars_rating5{
    width: 13.5rem;
    margin: auto;
}
.stars_rating5 > input{
    display: none;
}

.stars_rating5 > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 0.5rem;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

.stars_rating5 > .half:before{
    content: '\f089';
    position: absolute;
    cursor: pointer;
}

.stars_rating5 > label{
    color: #757575;
    float: right;
    cursor: pointer;
}

.stars_rating5 > input:checked ~ label,
.stars_rating5:not(:checked) > label:hover,
.stars_rating5:not(:checked) > label:hover ~ label{
    color: #DD8B1F;
}

.stars_rating5 > input:checked + label:hover,
.stars_rating5 > input:checked ~ label:hover,
.stars_rating5 > label:hover ~ input:checked ~ label,
.stars_rating5 > input:checked ~ label:hover ~ label{
    color: #DD8B1F;
}

/* Rating_Box */
.stars-outer {
    position: relative;
    display: inline-block;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    color: #E08308;
  }
  
  .stars-inner::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    color: #DD8B1F;
  }
  
  
  
  