@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --black-color: #000;
    --white-color: #fff;
    --gray-shade: #e5e5e5;
}

body,
html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*background:url('https://infornt.sharepoint.com/sites/RNTENG/_catalogs/masterpage/ENG_MasterPage/ENGUser/images/page_background.png');*/
}
ul {
    list-style-type: none;
    /* padding: 0; */
}

a {
    text-decoration: none !important;
}

/* starts work */
.workHeading {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 1.1rem;
    margin-bottom: 2.7rem;
}

.workHeading .workClick .workArrow {
    display: flex;
    align-items: center;
}

.workHeading .workClick h3 {
    color: #fff;
    margin: 0;
    font-weight: bold;
    
}

.workHeading .workClick img {
    width: 1rem;
    margin-right: 1rem;
}

/* starts breadcrumb */
ul.breadcrumb li {
    display: inline;
    font-size: 1.2rem;
}

ul.breadcrumb li+li:before {
    padding: 0.3rem;
    font-size: 1rem;
    color: #e5e5e5;
    content: "/\00a0";
}

ul.breadcrumb li {
    color: #e5e5e5;
    font-size: 1rem;
    font-weight: 100;
}

/* ends breadcrumb */

.content .workBannerTop {
    width: 100%;
    /* height: 16rem; */
    /* Venu */
    height: 33vh;
    background-color: #000;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
#WorkTitle{
	 background: linear-gradient(90deg, #DE8601 0%, #FF3D97 6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
   
.content .workBannerTop .bannerTopHeading h2 {
    background: linear-gradient(90deg, #DE8601 0%, #FF3D97 6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.workcardTopWr .upcomingEventsWr {
    position: relative;
}

.upcomingeventsDetails {
      position: absolute;
    top: 13rem;
    padding: 0 0.8rem;
    }

.workcardTopWr .upcomingEventsWr,
.workcardBottomWr .pastEventsWr1 {
    width: 100%;
    /*height: auto;*/
    display: flex;
    margin-bottom: -3rem;
        /* border: 1px solid red; */
}

.workcardTopWr .upcomingEventsWr .upcomingEventsCard {
    /* width: 31%;
   height: 34vh;
    height: 210px;*/
    border-radius: 1.5rem;
    background-color: #000;
    padding: 1.4rem;
    position:relative;
     /*margin:0 0 6rem !important;
    border: 1px solid red; */
}
.upcomingEventsHeading label,
.PastEventHeading a{
	font-size: 1rem !important;
}

.workcardBottomWr .pastEventsWr1 {
    width: 30%;
    height: 100%;
    border-radius: 1.5rem;
    background-color: #000;
    padding: 2rem;
    margin-bottom: 2rem;
    /* border: 1px solid red; */
}

.workcardTopWr .upcomingEventsHeading {
    margin-bottom: 2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.workcardTopWr .upcomingEventsHeading h4,
.workcardBottomWr .PastEventHeading h4 {
    color: #fff;
    font-weight: 700;
    line-height: 3;
    /*font-size: 1.2rem;*/
}

.upcomingEventsWr,
.workcardBottomWr .pastEventsWr1 {
    width: 100%;
    max-height: 130vh;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.workcardBottomWr .pastEventsWr1 .pasteventsCard {
    width: 31%;
    height: 35%;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    /* border: 1px solid red; */
}

.upcomingEventsCard .upcomingeventsImg{
	/*height: 230px;*/
	height: 185px;
    /*border: 1px solid red;*/
}

.upcomingEventsCard .upcomingeventsImg,
.workcardBottomWr .pastEventsWr1 .pasteventsImg {
    position: relative;
}

.upcomingEventsCard .upcomingeventsImg .userImg1 {
    width: 100%;
   height: 200px;
   /* height: 16.3vh;*/
    border-radius: 1.5rem;
    position: absolute;
    top: -3rem;
    background-image: linear-gradient(180deg, #00000000 0%, #0D0D0DE8 59%, #000000 100%), url("../../../SiteAssets/SiteAssets/ENGEmployee/images/card1.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*border:1px solid yellow;*/
}

.upcomingEventsCard .upcomingeventsImg .userImg2 {
    width: 100%;
    height: 22.3vh;
    border-radius: 1.5rem;
    position: absolute;
    top: -3rem;
    background-image: linear-gradient(180deg, #00000000 0%, #0D0D0DE8 59%, #000000 100%), url("../../../SiteAssets/SiteAssets/ENGEmployee/images/card2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 235%;
}

.upcomingEventsCard .upcomingeventsImg .userImg3 {
    width: 100%;
    height: 22.3vh;
    border-radius: 1.5rem;
    position: absolute;
    top: -3rem;
    background-image: linear-gradient(180deg, #00000000 0%, #0D0D0DE8 59%, #000000 100%), url("../../../SiteAssets/SiteAssets/ENGEmployee/images/card3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 119%;
}

.workcardBottomWr .pastEventsWr1 .pasteventsImg .userImg {
    width: 100%;
    /* border: 1px solid red; */
}

.upcomingEventsCard .upcomingeventsImg .userImg img,
.workcardBottomWr .pastEventsWr1 .pasteventsImg .userImg img {
    width: 100%;
    border-radius: 1.5rem;
}
.workcardBottomWr .pastevntsCard .pastevntsDetails{
	/*position: absolute;
    bottom: 0rem;
    left: 1.4rem;*/
    width: 90%;
    margin: 0 auto;
    }
.upcomingEventsCard .upcomingeventsDetails h5,
.workcardBottomWr .pasteventsCard .pasteventsDetails h5 {
    color: #fff;
    /*font-size: 2rem;*/
}

.upcomingEventsCard .upcomingeventsDetails .work {
    color: #E8B0FC;
    font-size: 1rem;
    margin: 0;
}
.Connect {
	color:#C8DB88;
	font-size: 1rem;
}
.Life{
	color:#FFD08A;
	font-size: 1rem;
}

.upcomingEventsCard .upcomingeventsDetails .Wow{
    color: #FBAFA0;
    font-size: 1rem;
    margin: 0;
}

.upcomingEventsCard .upcomingeventsDetails .wellbeing {
    color: #C7CFF8;
    font-size: 1rem;
    margin: 0;
}

.upcomingEventsCard .upcomingeventsDetails p,
.workcardBottomWr .pasteventsCard .pasteventsDetails p {
    color: #e5e5e5;
    margin-bottom:2px !important;
    height:auto;
}

.upcomingeventsDetails .upcomingeventsDate_Time,
.workcardBottomWr .pasteventsDetails .pasteventsBtn {
    display: flex;
    align-items: center;
    /*margin-bottom: 1rem;*/
}

.upcomingeventsDetails .upcomingeventsDate_Time a img,
.workcardBottomWr .pasteventsDetails .pasteventsBtn a img {
    width: 1.2rem;
}

.upcomingeventsDetails .upcomingeventsDate_Time .upcomingeventsCalendar a,
.upcomingeventsDetails .upcomingeventsDate_Time .upcomingeventsClock a,
.workcardBottomWr .pasteventsDetails .pasteventsBtn .upcomingeventsCalendar a,
.workcardBottomWr .pasteventsDetails .pasteventsBtn .upcomingeventsClock a {
    color: #6B6B6B;
    display: flex;
    align-items: center;
}

.upcomingeventsDetails .upcomingeventsDate_Time .upcomingeventsCalendar a img,
.upcomingeventsDetails .upcomingeventsDate_Time .upcomingeventsClock a img,
.workcardBottomWr .pasteventsDetails .pasteventsBtn .upcomingeventsCalendar a img,
.workcardBottomWr .pasteventsDetails .pasteventsBtn .upcomingeventsClock a img {
    margin-right: 0.5rem;
}

.upcomingeventsDetails .upcomingeventsDate_Time .upcomingeventsClock,
.workcardBottomWr .pasteventsDetails .pasteventsBtn .upcomingeventsClock {
    margin-left: 2rem;
}

.upcomingeventsCalendar a label {
    padding-top: 0.3rem;
}

.upcomingeventsClock a label {
    padding-top: 0.2rem;
}

/* For buttons */
.upcomingeventsDetails .upcomingeventsBtn,
.workcardBottomWr .pasteventsDetails .pasteventsBtn {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.upcomingeventsDetails .upcomingeventsBtn .upcomingeventsReminder a,
.workcardBottomWr .pasteventsDetails .pasteventsBtn a {
    width: 1.5rem;
    background-color: #232323 !important;
    padding: 1rem 5rem;
    margin-right: 3rem;
    border-radius: 0.5rem;
    color: #fff !important;
    /*font-size: 0.9rem;*/
}
/*.upcomingeventsJoin {
    padding: 0.8rem 7rem;
    display:inline-block;
    background: linear-gradient(90deg, #DE8601 0%, #FF3D97 100%);
    border-radius: 0.5rem;
}*/

.upcomingeventsJoin a{
	color: #fff;
	/*padding: 0.5rem 3rem !important;*/
	font-size: 0.9rem;
}

.upcomingeventsBtn .upcomingeventsReminder a,
.upcomingeventsBtn .upcomingeventsJoin a,
.workcardBottomWr .pasteventsDetails .pasteventsBtn .upcomingeventsReminder a,
.workcardBottomWr .pasteventsDetails .pasteventsBtn .upcomingeventsJoin a {
    color: #fff;
}

/*.upcomingeventsDetails .upcomingeventsBtn .upcomingeventsReminder .setReminder {
    background-color: #232323 !important;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}*/
.upcomingeventsBtn .upcomingeventsReminder .setReminder{
	/*background: linear-gradient(90deg, #DE8601 0%, #FF3D97 100%);*/
    padding: 0.8rem 7rem;
    border-radius: 0.5rem;
    /*margin-right: 3rem;*/
        background-color: #232323;
}
.upcomingeventsBtn .upcomingeventsJoin a {
    background: linear-gradient(90deg, #DE8601 0%, #FF3D97 100%);
    padding: 0.8rem 8.95rem;
    border-radius: 0.5rem;
}

.upcomingeventsBtn .upcomingeventsClock,
.workcardBottomWr .pasteventsDetails .pasteventsBtn .upcomingeventsJoin {
    margin-left: 2rem;   
}

.userImg1 .cornerBtns,
.userImg2 .cornerBtns,
.userImg3 .cornerBtns {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0.8rem;
    height: 4vh;
}

.cornerBtns .share{
	display:flex;
	justify-content: end;
}

.cornerBtns .share a img{
	width: 87%;
}

/*.userImg1 .cornerBtns .share a,
.userImg2 .cornerBtns .share a,
.userImg3 .cornerBtns .share a {
    width: 65%;
    height: 100%;
    border-radius: 50%;
    background-color: #1c1c1ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*.userImg1 .cornerBtns .heart a,
.userImg3 .cornerBtns .heart a {
    width: 65%;
    height: 95%;
    border-radius: 50%;
    background-color: #FF3D97;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userImg2 .cornerBtns .heart a {
    width: 65%;
    height: 95%;
    border-radius: 50%;
    background-color: #1c1c1ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.cornerBtns .heart{
	display: flex;
    align-items: center;
}
/*.userImg1 .cornerBtns .share a img,
.userImg2 .cornerBtns .share a img,
.userImg3 .cornerBtns .share a img,*/
.userImg2 .cornerBtns .heart a img,
.userImg1 .cornerBtns .heart a img,
.userImg3 .cornerBtns .heart a img {
    width: 60%;
    
}
.bannerTopHeading{
	display: flex;
    flex-direction: column;
    align-items: center;
    height: 22vh;
    padding-top: -1rem;
    justify-content: end;
}
.bannerTopHeading p{
	color:#E5E5E5;
	font-size: 1.2rem;
    text-align: center;
}
.calendarWidth{
	width:100% !important;
}
/* starts workcardBottomWr css */
.workcardBottomWr .pasteventsCard .videoImg1 {
    width: 100%;
    height: 26vh;
    border-radius: 1.5rem;
    background: linear-gradient(180deg, #00000000 0%, #0D0D0DE8 74%, #121112 100%), url("../images/girl.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid red; */
}

/* starts Modal */
.modal-dialog .btn-close-white{
       position: absolute;
    top: 9.5rem;
    right: -4.2rem;
    }
.modal-body{
    padding: 0.6rem;
}
.modal-body .videoImg1 {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    /* background: linear-gradient(180deg, #00000000 0%, #0D0D0DE8 74%, #121112 100%), url(../Images/girl.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    position: relative; */
}
.modal-body .videoImg1 img{
    width: 100%;
    border-radius: 1.5rem;
}
.modal-content{
    height: auto;
    border-radius: 1.5rem;
    /* padding: 1rem; */
    background: linear-gradient(86deg, #DE8601 0%, #FF3D97 100%);
    width: 518px;
    padding: 8px;
    margin-top: 17%;
}
.modal-body .pasteventsDetails{
    position: absolute;
    bottom: 1rem;
    left: 2.5rem;
}
.modal-body .past h2{
    font-weight: 500;
}
.modal-body .videoWr{
    background-color: #fff;
    height: 100%;
    border-radius: 1rem;
}
.modal-body .videoImg1 .pasteventsDetails h5,
.modal-body .videoImg1 .pasteventsDetails p{
    color: #fff;
}
/* ends Modal */
.workcardBottomWr .pasteventsCard .videoImg2 {
    width: 100%;
    height: 26vh;
    border-radius: 1.5rem;
    background: linear-gradient(180deg, #00000000 0%, #0D0D0DE8 74%, #121112 100%), url("../images/girl.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid red; */
}

.workcardBottomWr .pasteventsCard .videoImg3 {
    width: 100%;
    height: 26vh;
    border-radius: 1.5rem;
    background: linear-gradient(180deg, #00000000 0%, #0D0D0DE8 74%, #121112 100%), url("../images/girl.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid red; */
}

.videoImg1 .pasteventsDetails,
.videoImg2 .pasteventsDetails,
.videoImg3 .pasteventsDetails {
    position: absolute;
    bottom: 0;
    left: 1.4rem;
}
.PastEventHeading{
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*width: 97%;*/
	margin-bottom: 1rem;
}
.workcardBottomWr .pastEvntsWr .pastevntsCard {
    width: 31%;
    height: 35vh;
    border-radius: 1.5rem;
    margin: 0.3rem 1rem 3rem 1rem;
    /* border: 1px solid red; */
}
.workcardBottomWr .pastEvntsWr1 .pastevntsCard .pstvideoImg1{
    /*width: 98%;*/
    height: 34vh;
    border-radius: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    /* border: 1px solid red; */
}
/* ends workcardBottomWr css */
/* ends work css */
